{% extends "base_admin.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %}


{% block content %}

<!-- <div class="has-bg-img   text-dark ">
    <img class="bg-img"
     src="{{ url_for('static', filename= 'images/adminn.jpg') }}" 
     alt="hostel background image"
     height="820px"
     width="1930px">
</div> -->


    <div class="centered">
    
     <div class="form">
      <form method="POST"  action="/loginadmin">    <!--we use form from form bootstrap to show login details-->
        <h2>Admin Log In</h2>
        
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="notification is-danger">
          {{ messages[0] }}
        </div>
        {% endif %} {% endwith %}
       
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="remember" />
          <label class="form-check-label" for="remember">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>




      <br>
      <form method="GET"  action="/s">
        <button type="submit" class="btn btn-primary">Run Shell Script</button>
      </form>





     </div>
    
    <div>
    
{% endblock %}
